<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>

<nav style="" id="page-nav" th:fragment="nav">
  <div class="container" id="nav-row">
    <a th:href="@{/}" id="logo">Pizza Market</a>
    <a class="nav-item" th:href="@{/menu}">Menu</a>
    <a class="nav-item" th:href="@{/}">Dostawa</a>
    <a class="nav-item" th:href="@{/opinions}">Opinie</a>
    <a class="nav-item" th:href="@{/}">Resto</a>
  </div>
</nav>

</body>

</html>