<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #opinions})}">
<section id="opinions">
    <div class="container">

        <h2>Opinie</h2>
        <table>
            <tr th:each="opinion : ${opinions}">
                <td>
                    <h3 th:text="${opinion.opinionAuthorName}"></h3>
                    <p class="text" th:text="${opinion.opinionContent}"></p>
                </td>
            </tr>
        </table>

        <h2>Dodaj nową opinię</h2>
        <form method="post" th:object="${opinionModel}">
            <div>
                <input type="text" th:field="*{opinionAuthorName}" placeholder="Nazwa" class="input">
            </div>
            <div>
                <input type="text" th:field="*{opinionContent}" placeholder="Twoja opinia..." class="input">
            </div>
            <div>
                <button class="btn">Dodaj</button>
            </div>
        </form>
    </div>
</section>

</html>